Source: kernel-simulator
Section: misc
Priority: optional
Maintainer: EoflaOE <eoflaoevicecity@gmail.com>
Build-Depends: debhelper-compat (= 12), cli-common-dev (>= 0.10), ca-certificates-mono (>= 6.8.0.105), libmono-2.0-1 (>= 6.8.0.105), libmono-cil-dev (>= 1.0), libmono-profiler (>= 6.8.0.105), mono-4.0-gac (>= 6.8.0.105), mono-4.0-service (>= 6.8.0.105), mono-devel (>= 6.8.0.105), mono-mcs (>= 6.8.0.105), mono-runtime (>= 6.8.0.105), mono-runtime-sgen (>= 6.8.0.105), mono-utils (>= 6.8.0.105), libmono-microsoft-visualbasic10.0-cil (>= 4.0.1), vlc (>= 3.0.0), libvlc-dev (>= 3.0.0), gtk-sharp2, inxi (>= 3.0.0), libcpanel-json-xs-perl (>= 4.0), msbuild (>= 15.5), msbuild-libhostfxr, mono-roslyn
Standards-Version: 4.4.0
Homepage: https://eoflaoe.github.io/Kernel-Simulator/
Vcs-Browser: https://github.com/EoflaOE/Kernel-Simulator
Vcs-Git: https://github.com/EoflaOE/Kernel-Simulator.git

Package: kernel-simulator
Architecture: amd64
Depends: ${misc:Depends}, ca-certificates-mono (>= 6.8.0.105), libmono-2.0-1 (>= 6.8.0.105), libmono-cil-dev (>= 1.0), libmono-profiler (>= 6.8.0.105), mono-4.0-gac (>= 6.8.0.105), mono-4.0-service (>= 6.8.0.105), mono-devel (>= 6.8.0.105), mono-mcs (>= 6.8.0.105), mono-runtime (>= 6.8.0.105), mono-runtime-sgen (>= 6.8.0.105), mono-utils (>= 6.8.0.105), libmono-microsoft-visualbasic10.0-cil (>= 4.0.1), vlc (>= 3.0.0), gtk-sharp2, inxi (>= 3.0.0), libcpanel-json-xs-perl (>= 4.0)
Description: Simulates our future-planned kernel
 Kernel Simulator simulates our future kernel that is planned by us and is not
 a final planned version of Kernel, since it was minimal. KS will continue to be
 developed, even if we made the real PC version of Kernel.
